.blocbeststick{
    border: transparent solid;
    position: relative;
    left: 0px;
    top: -40px;


}
.titrebeststick {
     position: absolute;
    left: 50px;
  z-index: 1;
    font-weight: 700;
    font-size: x-large;
    width: 330px;
    border-bottom: 3px solid #FF416C; /* يمكنك تعديل السمك واللون كما تريد */
    padding-bottom:15px; /* لتوفير مسافة بين النص والخط */
}
.bloc_5at {
    border-bottom: 3px solid rgb(201, 201, 201); /* يمكنك تعديل السمك واللون كما تريد */
    position: absolute;
    z-index: 0;
    width:100%; /* استخدم max-width بدلاً من width */
    top: 44px;
    left: 50%; /* تغيير هذا لإعادة تحديد المركز */
    transform: translateX(-50%); /* لتحريك العنصر إلى اليسار بمقدار نصف عرضه */
}

.product-grid_page_home{
    display: grid;
    position: relative;
    top: 0px;
    width: 1400px;
    margin: auto;
    grid-template-columns: repeat(auto-fill, minmax(220px, 2fr));
    gap: 14px;
    padding: 5px;
  border: transparent solid;
    cursor: pointer;
  
}

.product-card_pagehome{
    position: relative;
    border: transparent solid;
    top: 90px;
    transition: transform 0.3s ease;
    overflow: hidden;
}
@media (max-width: 1404px) {
    .product-grid_page_home{
       width: 100%;
      
    }
    .blocbeststick{
        border: transparent solid;
        position: relative;
        left: 0px;
    
    
    }
}  
.buttonNextpagehome,.buttonPrevious_pagehome{
    position: relative;
    top: 130px;
}

@media (max-width: 610px) {
.titrebeststick {
   width: 330px;
   left: 0px;
    border-bottom: 3px solid #FF416C; /* يمكنك تعديل السمك واللون كما تريد */
}
@media (max-width: 478px) {
    .product-grid_page_home{
       
        grid-template-columns: repeat(auto-fill, minmax(145px, 2fr));
      
      
    }
    


}  
@media (max-width: 330px) {
    .product-grid_page_home{
       
        grid-template-columns: repeat(auto-fill, minmax(105px, 2fr));
      
      
    }
    


}  
@media (max-width: 363px) {
    .titrebeststick {
       width: 100%;
    }
    .bloc_5at {
display: none;    }
      
    }
 
} 
.alert-success{
 position: fixed;
  top: 100px;
   right:15px;
   height: 60px;
   border: transparent solid;
    transform: translateX(-0%);
    z-index: 100;
    background-color: #FF416C;
    width:350px ;
    box-shadow: 0px 0px 5px 0.5px rgb(128, 128, 128);

} 
.titre_succses{
position: relative;
top: -10px;
color: aliceblue;
}
.pi-cart-arrow-down{
    font-size: 30px;
    margin-left: 20px;
    color: aliceblue;
}

 @media (max-width: 428px) {
    .alert-success{
        width: 300px;
    }
    .titre_succses{
       font-size: 12px;
       color:white;
       top: -10px;
        }
        .alert-success{
           
             top: 100px;
              right:15px;
              height: 50px;
               z-index: 100;
               width:240px ;
           } 
           .pi-cart-arrow-down{
            font-size: 20px;
            margin-left: 5px;
            position: relative;
            top: -5px;
            color: aliceblue;
        }
 
}  
@media (max-width: 280px) {
    .alert-success{
           
    width: 100%;
    right: 0px;
      } 
    }