.blocbeststick{
    border: transparent solid;





}
.titrebeststick {
     position: relative;
top: 20px;
  z-index: 0;
    font-weight: 700;
    font-size: x-large;
    width: 400px;
    border-bottom: 3px solid #FF416C; /* يمكنك تعديل السمك واللون كما تريد */
    left: -2px;
    padding-bottom:10px; /* لتوفير مسافة بين النص والخط */
}


.product-grid_page_home{
    position: relative;
   



   display: flex;
    gap: 10px;
  border: transparent    solid;
    cursor: pointer;
    display: grid;

    grid-template-columns: repeat(auto-fill, minmax(230px, 2fr));
    gap: 10px; /* المسافة بين العناصر */
   
        margin: auto;
  
}

.product-card_pagehome{
    position: relative;
    border: transparent solid;
    
    


    transition: transform 0.3s ease;
    overflow: hidden;
}
.product-card{
    background-color: rgb(255, 255, 255) ;
    border: rgb(173, 173, 173) solid 1px;
   
}
.carousel-indicators{
    position: relative;
    top: 00px;
    display: none;
}
.buttonNextpagehome,.buttonPrevious_pagehome{
    position: relative;
    top: 0px;
}


.alert-success{
    position: fixed;
     top: 100px;
      right:15px;
      height: 60px;
      border: transparent solid;
       transform: translateX(-0%);
       z-index: 100;
       background-color: #FF416C;
       width:350px ;
       box-shadow: 0px 0px 5px 0.5px rgb(128, 128, 128);
   
   } 
   .titre_succses{
   position: relative;
   top: -10px;
   color: aliceblue;
   }
   .pi-cart-arrow-down{
       font-size: 30px;
       margin-left: 20px;
       color: aliceblue;
   }
   
@media (max-width: 1600px) {
    .product-grid_page_home{
        width: 100%;
       
     }
} 
@media (max-width: 1404px) {

    .blocbeststick{
        border: transparent solid;
        position: relative;
        left: 0px;
    
    
    }
}  


@media (max-width: 610px) {
.titrebeststick { 
   width: 330px;
    border-bottom: 3px solid #FF416C; /* يمكنك تعديل السمك واللون كما تريد */
}
} 


@media (max-width: 365px) {

        .titrebeststick {
            width: 90%;
            
            font-size: 10px;
           }

          .product-card_pagehome{
   
        
            border: transparent solid;
            
            width: 100%;

        
          
      
    }
    .product-grid_page_home{
        grid-template-columns: repeat(auto-fill, minmax(20px, 2fr));
gap: 0px;
    }

}



 @media (max-width: 425px) {
    .alert-success{
        width: 300px;
    }
    .titre_succses{
       font-size: 12px;
       color:white;
       top: -10px;
        }
        .alert-success{
           
             top: 100px;
              right:15px;
              height: 50px;
               z-index: 100;
               width:240px ;
           } 
           .pi-cart-arrow-down{
            font-size: 20px;
            margin-left: 5px;
            position: relative;
            top: -5px;
            color: aliceblue;
        }
        .titrebeststick {
            width: 90%;
            left: -15px;
            font-size: 18px;
         }
        
}  
@media (max-width: 486px) {
    .product-grid_page_home{
   
        grid-template-columns: repeat(auto-fill, minmax(150px, 2fr));
        
          
      
    }

        
}  




@media (max-width: 280px) {
    .alert-success{
           
    width: 100%;
    right: 0px;
      } 
    }