.category-button_navbar{
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 10px;
    border: none;
    color: rgb(53, 53, 53);
    border-radius: 50px;
    font-weight: 600;
    transition: 0.3s;

}
.category-button_navbar:hover{
    color: aliceblue;
    background-color: rgb(231, 0, 50);
}
.b1{
    background-color:#f6aa74;
}
.b2{
    background-color:#aa94e7;
}
.b3{
    background-color:#6ed0e2;
}
.b4{
    background-color:#aacbfa;
}
.b5{
    background-color: #f1f0f4;
}
.b6{
    background-color: #d39b93;
}
.b7{
    background-color:#95a3bc;
}
.b8{
    background-color:#edd7b5;
}
.b9{
    background-color:#bfe5f6;
}
.b10{
    background-color:#dccccc;
}
body, html {
    overflow-x: hidden; /* يمنع التمرير الأفقي على مستوى الصفحة */
  }
  
  .bloc-button {
    border: transparent solid;
    width: 1200px;
    position: absolute;
    top: 50px;
     /* محاذاة العمود */
    left: 50%; /* محاذاة الصف */
    transform: translate(-50%, -50%); /* ضبط التوسيط */
    height: 90px; /* ارتفاع العنصر */
    overflow: hidden; /* إخفاء التمرير افتراضيًا */
    white-space: nowrap; /* منع التفاف النص */
  }

  @media (max-width: 1200px) {
    .bloc-button {
      overflow-x: auto; /* إظهار التمرير الأفقي فقط داخل العنصر */
      overflow-y: hidden; /* منع التمرير العمودي */
  left: 0%;
  transform: translate(0%, -50%); /* ضبط التوسيط */
  
    }
  
  }
 
.gridzz{
    border: rgb(182, 30, 30) solid;
    position: relative;
    width:100%;
}