.carousel_home{
    width:101%;
    position: relative;
    top: -120px;
    left: -5px;
    margin: auto;
    border-radius: 0px;
    

    border:  rgb(255, 255, 255) solid 3px;
}

.carousel-control-prev,
.carousel-control-next {
  background-color: rgb(255, 255, 255);
  opacity: 1;
  border-radius: 50%; /* شكل دائري للأزرار */
  width: 40px;
  height: 40px;
  top: 50%; /* لضبطها في المنتصف عمودياً */
  transform: translateY(-50%); /* لضبطها في المنتصف بشكل صحيح */
}


.carousel-control-prev-icon,
.carousel-control-next-icon {
  width: 18px;
  
}


.carousel-control-prev{
    margin-left: 20px;
    border: #FF416C solid 4px;
    transition: 0.1s;
    width: 50px;
    height: 50px;
    
}
.carousel-control-prev:hover{
    background-color: #FF416C;
    box-shadow: 0px 0px 5px 0.3px rgb(32, 32, 32);


}
.carousel-control-next{
    margin-right: 20px;
    transition: 0.1s;
    width: 50px;
    height: 50px;
    border: #FF416C solid 4px;

    

}
.carousel-control-next:hover{
    background-color: #FF416C;
    box-shadow: 0px 0px 5px 0.3px rgb(32, 32, 32);

}
.button_carousel{
    
    background-color:#FF416C;
    padding: 10px;
color: rgb(236, 236, 236);
width: 220px;
font-size: large;
font-weight: 500;
    border: transparent solid;
    border-radius: 50px;
    position: relative;
    top: -20px;
    
    float: left;
    text-decoration: none;
    border:transparent solid 3px;
transition: 0.3s;
    
}
.button_carousel:hover{
    transform: scale(1.1);
background-color: #d30f3d;
}

.d-block{
       width: 100%;
   
    
}
.titre_img{
    position: absolute;
    top: 00px;
    left: 50%;
    transform: translate(-50%,50px); /* تعديل */
    font-size: 700%;
width: 100%;
    text-shadow: 
    0 0 10px rgba(1, 245, 245, 0.5),
    0 0 20px rgba(12, 44, 44, 0.952),
    0 0 30px rgba(0, 56, 56, 0.5),
    0 0 40px rgba(0, 255, 255, 0.5)
  

    ;
    border: transparent solid;
    color: white;
    text-align: center;
}
.next{
    width: 40px;
    margin-left: 10px;


}
.button_next {
    padding: 10px 30px; /* تقليل الحشوة لجعل الزر متناسبًا */
    position: absolute; /* تغيير الموضع لضمان التثبيت النسبي إلى العنصر الأب */
    left: 15%; /* تمركز الزر أفقيًا */
    bottom: 50px;
    font-weight: 700;
    font-size: 20px; /* حجم خط مناسب */
    color: white;
    border-radius: 50px;
    border: none; /* إزالة الحدود */
    background-color: #FF416C;
   
    transition:  0.3s ease;
    animation: move 2s infinite; /* تأثير الحركة */
  }
  
  .button_next:hover {
    transform: translate(-50%, -50%) scale(1.1); /* تكبير الزر عند التمرير */
    box-shadow: 
      0 0 0px rgba(255, 65, 108, 0.7),
      0 0 10px rgba(255, 65, 108, 1),
      0 0 10px rgba(255, 65, 108, 1);
      background-color: #d30f3d;
  }
img{
    border: none;
  }
  
  @keyframes move {
    0%, 100% {
      transform: translate(-50%, -50%) translateY(-20px); /* حركة للأعلى */
    }
    50% {
      transform: translate(-50%, -50%) translateY(10px); /* حركة للأسفل */
    }
  }
  
@media (max-width: 1400px) {
    .d-block{
        width: 130%;
        position: relative;
        left: -30%;
    
     
 }
 .button_next{
    font-size: 15px; /* حجم خط مناسب */

 }
    
}
@media (max-width: 1065px) {
 .button_next{
    font-size: 15px; /* حجم خط مناسب */
padding: 5px 30px;
bottom: 10px;
left: 190px;
 }
    
}
@media (max-width: 769px) {
    .next{
        width: 30px;
    } 
   }

@media (max-width: 610px) {
    .d-block{
       width: 160%;
       left: -30%;
     
 }
 .button_next{
padding: 3px 10px;
font-size: 14px;
left: 120px;
bottom: 10px;
 }

 .next{
    width: 30px;
 }
   
 
 @keyframes move {
    0%, 100% {
      transform: translate(-50%, -50%) translateY(-10px); /* حركة للأعلى */
    }
    50% {
      transform: translate(-50%, -50%) translateY(5px); /* حركة للأسفل */
    }
  }
}
@media (max-width: 426px) {
    .d-block{
       width: 190%;
       left: -60%;
     
 }
    
}

@media (max-width: 376px) {
    .d-block{
       width: 230%;
       left: -80%;
     
 }
 .button_next{
    padding: 3px 10px;
    font-size: 12px;
    left: 90px;
    bottom: 0px;
     }
     .next{
        width: 30px;
     }
       
}
@media (max-width: 32px) {
    .d-block{
       width: 250%;
       left: -100%;
     
 }
    
}