.logo {
  border: transparent solid;
  width: 165px;
  position: relative;


top: 10px;
  height: 55px;
}

.logi_img {
  width: 3em;
  position: relative;
  border: transparent solid;
  cursor: pointer;
}

.titre {
  font-size: 38px;
  font-weight: 700;

  position: relative;
  top: -50px;
  margin-left: 52px;

    font-family: "Bebas Neue", sans-serif;
    font-weight: 700;
    font-style: normal;
  
  
 color: rgb(4, 1, 39);
  transition: 0.3s;  
  cursor: pointer;
}
.search-container {
  display: flex;


  border: 3px solid bl;
  border-radius: 50px;
  padding: 5px;
  background-color: #f3f3f6;
  background-clip: padding-box;
  /* لمنع تأثير التدرج على الخلفية */
  position: relative;
  top: 20px;
  animation: border-animation 3s linear infinite;
}
.search-container_dialog{

width: 100%;
margin: auto;
margin-top: 0px;
  border-top:0px solid rgb(0, 0, 0);

  border-radius: 50px;
  padding: 5px;
  background-color: #f7f7f7;
  position: absolute;
left: 0px;


}

.MuiTypography-root{border: transparent solid;
width: 100%;
margin: auto;
height: 100%;
position: relative;

}
.MuiPaper-root{
  width: 100%;
  height: 700px;

}
.MuiDialogContent-root{
position: absolute;
border: transparent solid;
width: 100%;
height: 100%;




}
.search-container::before {
  content: "";
 
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  border-radius: 50px;
  background: linear-gradient(
    90deg,
    #ff0000,   /* Red */
    #ff0a00,   #ff1400,   #ff1e00,   #ff2800,   #ff3200,   #ff3c00,   #ff4600,   #ff5000,   #ff5a00,   #ff6400, 
    #ff6e00,   #ff7800,   #ff8200,   #ff8c00,   #ff9600,   #ffa000,   #ffaa00,   #ffb400,   #ffbe00,   #ffc800, 
    #ffd200,   #ffdc00,   #ffe600,   #fff000,   #fffa00,   /* Yellow */
    #d4ff00,   #a8ff00,   #7dff00,   #51ff00,   #26ff00,   #00ff00, 
    #00ff26,   #00ff51,   #00ff7d,   #00ffa8,   #00ffd4,   /* Green */
    #00fffc,   #00e6ff,   #00c8ff,   #00aaff,   #008cff,   #0077ff,   #0061ff,   #004dff,   #0038ff,   #0022ff, 
    #0014ff,   #0000ff,   /* Blue */
    #1a00ff,   #3300ff,   #4d00ff,   #6600ff,   #8000ff,   #9900ff,   #b300ff,   #cc00ff,   #e600ff,   /* Violet */
    #ff00e6,   #ff00cc,   #ff00b3,   #ff0099,   #ff007f,   #ff0066,   #ff0055,   #ff0044,   #ff0033,   #ff0022, 
    #ff0011    /* Magenta */
);

    z-index: -1;
  background-size: 400%;
  animation: gradientAnimation 10s linear infinite;
}
.search-popup{
  position: absolute;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}
.bloc_resulta_recherche{
  z-index: -2;

  position: absolute;
  top: 30px;
  left: 0;
  height: 500px;
  width: 100%;
  background: rgb(243, 238, 238);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  padding: 20px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  }

.search-input {
  flex-grow: 1;
  border: none;
  outline: none;
width: 80%;
margin-top: 0px;

position: absolute;
margin-left: 10px;
  background-color: transparent;
  padding: 6px;
  color: rgb(0, 0, 0);
  font-weight: 500;
  font-size: 1rem;
}
.search-input ::placeholder{
  font-weight: 900;

}

.titre_res{
  color: black;
  position: relative;
  width: 100%;
  border: transparent solid;

}
.resultarech{
  margin-top: 20px;
}

.search-button {
  background-color: transparent;
  border: none;
  width: 30px;
  float: right;
  position: relative;
  cursor: pointer;
  font-size: 20px;
}
.icon_serche_nav-bar{
  font-size: 20px;
  position: relative;
font-weight: 800;
font-size: xlarge;
  border: transparent solid;
}
.bloc_navbar_tlf_serche {
  border: transparent solid 1px;
  height: 65px;
  width: 102%;
  display: none;
  background-color: #ffffff;
  z-index: 60;
  box-shadow: 0px 10px 7px -12px rgb(75, 74, 74);
  /* الظل فقط من الأسفل */
  position: absolute;
  left: -8px;
  top: 65px;
}

.bloc_navbar {
  border: transparent solid;
  width: 1400px;
  /* العرض الأصلي للبار */
  margin: auto;
  height: 60px;
}



.bloc_complait_nav {
  border: transparent solid;
  background-color: #f2f2f6;
  position: fixed;
  z-index: 55;
  width: 100%;
  height: 95px;
  background-color: white;

  box-shadow: 0px 0px 5px -5px rgb(75, 74, 74);
}



.bloc_sersh {
  border: transparent solid;
  width: 700px;
  margin-left: 310px;
  /* عرض المستطيل الأحمر */
  height: 50px;
  z-index: 500;
  position: relative;
  top: calc(-100px + 20px); 
}
.bloc_sersh_visible{
  border: transparent solid;
  width: 780px;
  margin-left: 265px;
  /* عرض المستطيل الأحمر */
  height: 50px;
  z-index: 500;
  position: relative;
  top: calc(-85px + 21px);
 
}
.resulta_rech{
 color: black;
margin: 15px ;
  font-weight:700; 
  border: transparent solid;
  position: relative;
  left: -40px;
  padding-left: 30px;
  padding-right: 6px;
  padding-top: 6px;
          cursor:pointer;
font-size: 18px;
  border-radius: 50px;
  padding-bottom: 6px;



}
.resulta_rech:hover{
  border: #d3d3d3 solid;


 }
 
.bloc_touche{
  border: transparent solid;
  height: 50px;
  position: fixed;
  background-color: hsl(336, 80%, 52%);
  z-index: 700;
  width: 100%;
}

.p-button-warning{
  width: 100.2%;
  left: -1px;
  border: transparent solid;
  height: 40px;
  top: -2px;
  border-radius: 50px;
  height: 49px;
  position: absolute;
  background-color: transparent;
}
.bloc_button_card{
  border: transparent solid;
  position: fixed;
  top: 10px; /* Maintain the top positioning */
  height: 0px; /* Keep the height */
  z-index: 100;
  top: -1px;
  width: 1400px; /* Keep the width */
  background-color: transparent; /* Background color */
  left: 50%; /* Position left at 50% of the parent */
  transform: translateX(-50%); /* Shift it back to the left by half its width to center */

}
.shopicon_navbar {
  position: relative;
  /* تأكد من أن القيم هي خصائص CSS صحيحة */
  font-size: 2rem;
  /* استخدم "-" بدلًا من " " للفصل بين الكلمات */
  color: #FF416C;
  /* إزالة علامات الاقتباس حول القيم */
  font-weight: 1000;
  top: 25px;
  display: block;
  /* استخدام "-" للفصل بين الكلمات */
  text-decoration: none;
  z-index: 100;
  /* استخدام "-" للفصل بين الكلمات */
  float: right;
  /* تأكد من كتابة القيمة بشكل صحيح */
  right: 250px;
  /* استخدام "-" للفصل بين الكلمات */
  transition: 0.2s;
  cursor: pointer;
}
.shopicon_footer2{
  font-size: 17px;
}

.bloc_footer2{
  border:transparent solid 1px;
  position: fixed;
  /* تثبيته عند أسفل الصفحة */
  
bottom: 9px;
float: right;
right: 10px;
  display: none;
z-index: 100;
  /* يمتد بعرض الصفحة بالكامل */
 

}
/* إخفاء شريط التمرير الأفقي للصفحة */


@media (max-width: 1200px) {
  .bloc-button {
    overflow-x: auto; /* إظهار شريط التمرير الأفقي */
    overflow-y: hidden; /* منع التمرير العمودي */
  }
}


@media (max-width: 1406px){

.bloc_button_card{
  width: 100%;
}
.shopicon_navbar {
  right: 100px;
}

}
@media (max-width: 1230px){


  .shopicon_navbar {
    right: 90px;
  }
  
  }
  
  












.shopicon_navbar:hover {
  color: rgb(0, 0, 0);
}


.footer {
  border:transparent solid 500px;
  position: fixed;
  /* استخدام position: fixed لتثبيت العنصر */
  bottom: 0;
  /* تثبيته عند أسفل الصفحة */
  width: 100%;
  display: none;
  /* يمتد بعرض الصفحة بالكامل */
  background-color: #ffffff;
  /* يمكنك إضافة خلفية حسب الحاجة */
  /* إضافة بعض التباعد الداخلي */
  text-align: center;
 padding: 0px;
  /* لمحاذاة المحتوى في المنتصف */
  z-index: 100;
  /* للتأكد من ظهور العنصر فوق المحتوى الآخر */
}


.pi-search{
  position: relative;
  top: 1px;
  color: gray;
  cursor:pointer;

  right: 10px;
}
.sershfooter{
  position: relative;
  top: -10px;
  float: left;
  left: 20px;
  color: #000000;
}

.pi-home{
  position: relative;
  /* تأكد من أن القيم هي خصائص CSS صحيحة */
  font-size:17px;
  /* استخدم "-" بدلًا من " " للفصل بين الكلمات */
  color: #000000;
  /* إزالة علامات الاقتباس حول القيم */
  display: block;
  /* استخدام "-" للفصل بين الكلمات */
 top: -9px;

  z-index: 100;
  /* استخدام "-" للفصل بين الكلمات */
  left: 0px;
  /* تأكد من كتابة القيمة بشكل صحيح */
  /* استخدام "-" للفصل بين الكلمات */
  transition: 0.2s;
  margin: auto;
  margin-right: 15px;
  text-decoration: none;
  
}
.pi-home:hover,
.shopicon_footer:hover,
.icon_serche:hover{
  color: #FF416C;
}




@media (max-width: 1209px) {
  .bloc_sersh_visible {
    width: calc(100% - 450px);
    /* عرض المستطيل مع مساحة */
  }

  .bloc_navbar {
    width: 100%;
    /* عرض شريط التنقل */
  }
  .shopicon_navbar{
    right: 70px;
    z-index: 800;
  }
  .shopicon_navbar {
   
    position: relative;
    
  }

}


@media (max-width: 768px) {
  .blocremiz{
    position: relative;
    top: 50px;
    }
  .footer {
    border: transparent solid 1px;

    box-shadow: 0px 0px 10px -5px rgb(75, 74, 74);

   
    display: block;
    /* يمتد بعرض الصفحة بالكامل */
    background-color: #ffffff;
    /* يمكنك إضافة خلفية حسب الحاجة */
  }

  .bloc_sersh {
    width: calc(100% - 60px);
    /* عرض المستطيل مع مساحة */
    margin-left: 30px;

    border: transparent solid;
    z-index: 400;
    /* عرض المستطيل الأحمر */
    top: calc(-90px + 100px);
    /* ضبط المسافة لتكون ثابتة */
  }


.logo{
  margin: auto;
}


  .button_over_categori {

    display: block;

  }
  .shopicon_navbar{
   display: none;position: relative;top: -500px;
  
  }
  

 
  .bloc_navbar_tlf_serche {
   display: block;
  }
  .bloc_sersh_visible{
  display: none;
   
  }
  .bloc_footer2{

    display: block;
  
  
  }

}

.underline {
  width: 100%;
   position: absolute;
   top: 60px;
   left: 0px;
  
  height: 0.5px; /* ارتفاع الخط */
  background-color: rgb(117, 117, 117); /* لون الخط */
  margin-top: 5px; /* مسافة بين العنوان والخط */
}
.underline_button{
  width: 100%;
   position: absolute;
   top: 820px;
   left: 0px;
  
  height: 0.5px; /* ارتفاع الخط */
  background-color: rgb(117, 117, 117); /* لون الخط */
  margin-top: 5px; /* مسافة بين العنوان والخط */
}
.blocremiz{
text-align: center;
position: relative;
z-index: 0;

top:95px;
background-color: #dcfae4;
border:  transparent solid;
}
.pargremiz{
border: transparent solid 0px;
position: relative;
color: #eb053b;
font-weight: 700;
font-size: 20px ;
left: 0px;
top: 5px;
display: flex;
 justify-content: center; 
 align-items: center;
  
}
